name: Update Pages

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish'
        required: true
  workflow_call:
    inputs:
      version:
        description: 'Version to publish'
        required: true
        type: string

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  update:

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - uses: gradle/actions/setup-gradle@cd4b95f1dffd155d6d8f6b8c195a3ff2f9f77a5d

      - name: Build pages
        run: ./gradlew updatePages -Pversion="${{ github.event.inputs.version }}"

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./build/pages

      - id: deployment
        uses: actions/deploy-pages@v4
